body {
  text-align: center;
  background-color: #9294b0;
  font-family: "Playwrite MX", cursive;
  font-size: 4cap;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: white;
}

h1 {
  margin-top: 50px;
}

.container {
  margin: 100px auto;
  max-width: 600px;
}

.row {
  display: flex;
}

.btn {
  height: 200px;
  width: 200px;
  margin: 10px;
  border: 15px solid black;
  border-radius: 15px;
  cursor: pointer;
}

.green {
  background-color: rgb(36, 217, 36);
}

.red {
  background-color: rgb(225, 28, 100);
}

.yellow {
  background-color: rgb(244, 244, 8);
}

.blue {
  background-color: rgb(10, 158, 232);
}

.pressed {
  box-shadow: 0 0 20px white;
  opacity: 0.5;
}
