.page {
  position: relative;
  width: Round(down, 100cqw, 4em);
  height: Round(down, calc(100cqh - 2*4em), 4em);
}
.page::before, .page::after {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: conic-gradient(from 90deg at 2px 2px, whitesmoke 25%, gainsboro 0%) -1px -1px/4em 4em;
  mask: radial-gradient(1em at 50% 2em, #0000 calc(100% - 1px), red) 0 0/4em;
  content: "";
}
.page::after {
  inset: -1em 0 auto;
  height: 2.5em;
  background: radial-gradient(25% 50% at 50% 1.25em, #0000 calc(100% - 0.25em - 1px), #000 calc(100% - 0.25em) calc(100% - 1px), #0000 100%) 0 0/4em;
  mask: conic-gradient(from 90deg at calc(50% + 0.25em) calc(50% - 0.25em), #0000 25%, red 0%) 0 0/4em;
}

/* just to highlight notebook holes have real transparency */
html, body {
  display: grid;
}

html {
  height: 100%;
  background: url(https://images.unsplash.com/photo-1509486432407-f8fb9cc99acd?q=80&w=1299&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) 50%/cover;
}

body {
  place-content: center;
  container-type: size;
}